<div class='global'>
    <div id="img-login">
        <img src="/assets/login-img.jpg">
    </div>
    <div id="form-login">
        <h2>Acessar o mundo <b>Tech</b></h2>

        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput type="password">
        </mat-form-field>
        <span style=" margin-bottom: 17px; cursor: pointer;">Recuperar senha</span>
        <button mat-raised-button color="primary">Entrar</button>
        <span>Sem acesso? <b style="cursor: pointer;" routerLink="/signup">Cadastre-se agora!</b></span>
    </div>
</div>