<div class='global'>
    <div id="img-login">
        <img src="/assets/login-img.jpg">
    </div>
    <div id="form-login">
        <h2>Cadastre-se no mundo <b>Tech</b></h2>
        <mat-form-field appearance="fill">
            <mat-label>Nome completo</mat-label>
            <input matInput type="text">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput type="password">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Confirma senha</mat-label>
            <input matInput type="password">
        </mat-form-field>
        <button mat-raised-button color="primary">Cadastrar</button>
        <span>Já possui acesso? <b style="cursor: pointer;" routerLink="/login">Realize o login</b></span>
    </div>
</div>