.courses-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 0;
    background-color: #fbfbfb;
}

.courses-container-title{
    font-family: sans-serif;
    width: 93%;
    color: #0A1428;
}

.courses{
    display: flex;
    flex-wrap: wrap;
    width: 93%;
}

.course-container{
    display: flex;
    flex-direction: row;
    max-width: 30%;
    width: 30%;
    height: 18vh;
    margin: 15px 5px;
    padding: 10px;
    border-left: 5px solid #0055BB;
    background-color: #fff;
    border-radius: 5px;
}

.course-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    min-width: 30%;
    max-height: 100%;
    height: 100%
}

.course-image img{
    height: 90%;
}

.course-title-price {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #666;
}

.course-description{
    width: 30ch;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
}