@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');

.banner{
    width: 100%;
    height: 100%;
    margin: 0;
}

.course-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-menu{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color:rgb(10,20,40);
}

.item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.item:hover{
    background-color: #0055bb;
}

.item-a {
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px 80px;
}

.item-a:visited{
    color: white;
    text-decoration: none;
}

.course-total-description{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-total-description h4{
    font-family: 'Fresca', sans-serif;   
    font-size: 18px;
    font-weight: bolder;
}

.course-total-description p{
    text-align: justify;
    word-wrap: break-word;
    width: 90%;
    max-width: 90%;
}


.course-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.course-intro h2{
    width: 100%;
    text-align: left;
    font-size: 29px;
    font-family: 'Fresca', sans-serif;   
    font-weight: bolder;
}

.course-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.course-info-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    margin: 10px 50px; 
}

.course-info-item h4{
    font-family: 'Fresca', sans-serif;   
    font-size: 18px;
    font-weight: bolder;
}

.course-info-item span{
    font-family: 'Rajdhani', sans-serif;
    color: #0055bb;
    font-size: 16px;
}

.btn-buy{
    width: 30% !important;
    margin-bottom: 30px ;
}

.btn-buy a {
    width: 100%;
}

