<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/courses.css" %}" />

</head>
<body>
    <div class="main-courses">
        <div id="app"></div>
        <div class="courses-container">
            <img class='courses-container-title' src="{% static "images/banners/cursos.png" %}">
            
            <div class="courses">
                {% for course in course_list %}
                    <div class="course-container">
                        <div class="course-image">
                            <img src="{% static "images" %}{{course.image_url}}">
                        </div>
                        <div class="course-details">
                            <a class="course-title">{{ course.title }}</a>
                            <p class="course-description">{{ course.description}}</p>
                            <h4 class="course-price">R${{ course.price }}</h4>
                            <div class="button">
                                <a href="{{ course.get_absolute_url }}">Conhecer</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{% static "frontend/main.js" %}"></script>
    <script src="{% static "js/courses.js" %}"></script>
</body>
</html>