<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/courses.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/courses_detail.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/lesson_list.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/menu.css" %}" />


</head>
<body>
    <div class="main-courses">

        <div class="top-menu">
            <img src="{% static "images/onlyLogo.png" %}">
            <div class="center-options">
                <div class="item-menu"><a class="item-menu-a" href="/">Home</a></div>
                <div class="item-menu"><a class="item-menu-a" href="/cursos">Cursos</a></div>
                <div class="item-menu"><a class="item-menu-a" href="/quem-somos">Quem somos</a></div>
            </div>
            {% if user.is_authenticated %}
            <div class="profile">
                <img src="{% static "images" %}/icons/profile-white.png">
                <div class="profile-user">
                    <span>Olá, {{ user.username }}.</span>
                    <a href="/user/logout">Sair</a>
                </div>            </div>            
            {% else %}
            <div class="menu-button"><a  href='/login' class="to-login">Login</a></div>
            {% endif %}
        </div>


        <div id="app"></div>
        <div class="course-content">
            <img class='banner' src="{% static "images" %}{{course.banner_url}}">
            {% if user.is_authenticated %}
            <div class="course-menu">
                <div class="item"><a class="item-a" href="{{ course.get_absolute_url }}">Aulas</a></div>
                <div class="item"><a class="item-a" href="{{ course.get_absolute_url }}/mural">Mural</a></div>
                <div class="item"><a class="item-a">Avaliações</a></div>
            </div>
        </div>
        

        {% for lesson in object.lesson.all %}
        <div class="lessons-container">
            <div class="lesson-container">
                <img class="lesson-thumbnail" src="{% static "images" %}{{lesson.thumbnail_url}}">
                <div class="lesson">
                    <h3 class="lesson-title">{{ lesson.title }}</h3>
                    <p class="lesson-description">{{ lesson.description }}</p>
                </div>
                
                <div class="button btn-lesson">
                    <a href="{{ lesson.get_absolute_url }}">Assistir</a>
                </div>
                </div>
        </div>
        
        {% endfor %}
        
        {% else %}
        <div class="course-intro">
            <h2>Bem-vindo ao curso de {{ course.title }} </h2>
            <div class="course-total-description">
                <h4>Descrição</h4>
                <p>{{ course.description }}</p>
            </div>
            <div class="course-info">
                <div class="course-info-item">
                    <h4>Quantidade de aulas disponíveis</h4>
                    <span>{{ object.lesson.all.count }}</span>  
                </div>
                <div class="course-info-item">
                    <h4>Investimento</h4>
                    <span>R${{ object.price }}</span>
                </div>
            </div>
            <div class="button btn-buy"><a>Comprar</a></div>
        </div>
        {% endif %}
    </div>
    <script src="{% static "frontend/main.js" %}"></script>
    <script src="{% static "js/courses.js" %}"></script>
</body>
</html>