@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');


.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black;
    background-image: url('/assets/back.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

#spantext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.77);
}

#text{
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #51ADE5;
    font-size: 60px;
}

.homeimg{
    width: 100%;
    filter: opacity(50%);
}

.homespan{
    background: rgba(0,0,0,0.9);
}

#container{
    background-color: #100520;
    margin-top: 2px;
}

#title-courses{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

#title-courses i{
    font-size: 60px;
    margin: 0 50px;
}


#title-courses h2{
    font-size: 44px;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding: 43px 0;
    text-align: center;
}

#courses{
    display: flex;
    flex-direction: row;
    background-color: #100520;
}

#img-container{
    padding: 0 0 2px 0;
    width: 60%;
}

#img-course{
    height: 80vh;
    border-radius: 15%;
}

#card-container{
    padding: 0 0 2px 0;
    width: 100%;
}

.card-course{
    height: 100%;
    background-color: #100520;
}

#nossos-produtos{
    color: white;
}

#nossos-produtos h3{
    text-decoration: underline;
    text-align: center;
    font-size: 19px;
}

#cursos-disponiveis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cursos-disponiveis h3{
    font-family: 'Raleway', sans-serif;
}

#cursos-disponiveis span{
    font-family: 'Raleway', sans-serif;
}

#imgs-container img{
    margin: 30px 0;
    height: 120px;
}

.imgs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}