<div class="welcome">
    <div id="spantext">
        <img src="/assets/Gafanhotos School.png">

    </div>
</div>
<div id="container">
    <div id="title-courses">
        <i class="material-icons">code</i>
        <h2>Nossos produtos</h2>
        <i class="material-icons">code</i>
    </div>
    <div id="courses">
        <div id="img-container">
            <mat-card class="mat-elevation-z3 card-course">
                <mat-card-content>
                    <img id="img-course" src="/assets/img-courses.jpg">
                </mat-card-content>
            </mat-card>
        </div>
        <div id="card-container">
            <mat-card class="mat-elevation-z3 card-course" id="nossos-produtos">
                <div id="cursos-disponiveis">
                    <h3>Somos uma empresa focada no desenvolvimento de profissionais da área de <b>Tecnologia</b></h3>
                    <span>Oferecemos cursos das ferramentas mais requisitadas e da forma mais cômoda para você!</span>
                    <span style="color: #51ADE5;"><b>Estude onde e quando quiser!</b></span>
                    <span
                        style="margin-top: 15px; text-decoration: underline; text-decoration-color: #51ADE5; font-size: 17px;">Alguns dos nossos cursos disponíveis:</span>
                </div>
                <div id="imgs-container">
                    <div class="imgs" id="imgs-1">
                        <img src="/assets/html.png">
                        <img src="/assets/css.png">
                        <img src="/assets/js.png">
                        <img src="/assets/java.png">
                    </div>
                    <div class="imgs" id="imgs-2">
                        <img src="/assets/angular.png">
                        <img src="/assets/python.png">
                        <img src="/assets/github.png">
                        <img src="/assets/wordpress.png">
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">
        <button type="button" class="btn btn-outline-info but-cadastro" style="height: 50px; width: 30%; margin: 20px 0;">Cadastre-se agora!</button>
    </div>
    
</div>
<div>